<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Vimaru Student Portal</title>
        <link href="~/VIMARU_ICO.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        <link href="@Url.Content("~/Content/jqGrid/redmond/jquery-ui-1.9.0.custom.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/jqGrid/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.common.min.css")" rel="stylesheet" type="text/css" />
	    <link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.dataviz.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.common.min.css")" rel="stylesheet" />
        <link href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.default.min.css")" rel="stylesheet" />
         <link rel="alternate stylesheet" type="text/css" media="screen" title="black" href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.black.min.css")" />
        <link rel="alternate stylesheet" type="text/css" media="screen" title="blueopal" href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.blueopal.min.css")" />
        <link rel="alternate stylesheet" type="text/css" media="screen" title="bootstrap" href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.bootstrap.min.css")" />
        <link rel="alternate stylesheet" type="text/css" media="screen" title="highcontrast" href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.highcontrast.min.css")" />
        <link rel="alternate stylesheet" type="text/css" media="screen" title="metro" href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.metro.min.css")" />
        <link rel="alternate stylesheet" type="text/css" media="screen" title="metroblack" href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.metroblack.min.css")" />
        <link rel="alternate stylesheet" type="text/css" media="screen" title="moonlight" href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.moonlight.min.css")" />
        <link rel="alternate stylesheet" type="text/css" media="screen" title="silver" href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.silver.min.css")" />
        <link rel="alternate stylesheet" type="text/css" media="screen" title="uniform" href="@Url.Content("~/Content/kendo/2012.3.1114/kendo.uniform.min.css")" />
         @Scripts.Render("~/bundles/jquery")
        <script src="@Url.Content("~/Scripts/jqGrid/jquery-1.7.2.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jqGrid/i18n/grid.locale-en.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jqGrid/jquery.jqGrid.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/jquery.min.js")"></script>
	    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.all.min.js")"></script>
	    <script src="@Url.Content("~/Scripts/kendo/2012.3.1114/kendo.aspnetmvc.min.js")"></script>
        <script src="@Url.Content("~/Scripts/jquery.blockUI.js")"></script>
        <script src="@Url.Content("~/Scripts/myscript.js")"></script>
        <script src="@Url.Content("~/Scripts/styleswitch.js")"></script>
        @Scripts.Render("~/bundles/modernizr")
        <script type="text/javascript">
            function SelectSkin(e) {
                var dataItem = this.dataItem(e.item.index());
                chooseStyle(dataItem.Value, 60);
            }

            $(document).ready(function () {
                $("#menu").kendoMenu();
            });
        </script>
</head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <a href="../Home/Index">
                        <img src="@Url.Content("~/images/vimaru-logo.png")" alt="Student Portal" style="margin-left:-18px" width="342" height="90" />
                    </a>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        @using CongThongTinSV.Models;
                        @using CongThongTinSV.App_Lib;
                        @{
                            UserData userData = GlobalLib.GetCurrentUserData();
                        }
                        <ul id="menu">
                             <li>
                                Tài khoản
                                <ul>
                                    <li>@Html.ActionLink("Đăng nhập", "Login", "Account")</li>
                                </ul>
                            </li>

                            <li>
                                Sinh viên
                                <ul>
                                    <li>@Html.ActionLink("Đăng ký học phần", "DangKyHocPhan", "LopHocPhan")</li>
                                    <li>@Html.ActionLink("Yêu cầu mở lớp", "YeuCauMoLop", "LopHocPhan")</li>
                                </ul>
                            </li>
                            <li>
                                Lớp học phần
                                <ul>
                                    <li>@Html.ActionLink("In danh sách lớp", "InDanhSachLop", "LopHocPhan")</li>
                                </ul>
                            </li>
                            <li>
                                Tra cứu
                                <ul>
                                    <li>@Html.ActionLink("Tra cứu điểm", "DiemHocTap", "TraCuu")</li>
                                    <li>@Html.ActionLink("Tra cứu sinh viên", "SinhVien", "TraCuu")</li>
                                </ul>
                            </li>
                            @{
                                if (userData != null && userData.MoodleService != "")
                                {
                                    <li>
                                        Elearning
                                        <ul>
                                            <li>
                                                Người dùng
                                                <ul> <!-- moving the UL to the next line will cause an IE7 problem -->
                                                    @if(userData.MoodleService != "user")
                                                    {
                                                        <li>@Html.ActionLink("Đổi mật khẩu", "ChangePassword", "MoodleUser")</li>
                                                    }
                                                    <li>@Html.ActionLink("Hồ sơ của tôi", "MyProfile", "MoodleUser")</li>
                                                    <li>@Html.ActionLink("Các khóa học của tôi", "MyCourseGrade", "MoodleCourse")</li>
                                                    <li>@Html.ActionLink("Tra cứu sinh viên", "SearchStudent", "MoodleUser")</li>
                                                    <li>@Html.ActionLink("Tra cứu giáo viên", "SearchTeacher", "MoodleUser")</li> 
                                                </ul>
                                            </li>

                                            @if(userData.MoodleService == "admin")
                                            {
                                                <li>
                                                    Quản trị hệ thống
                                                    <ul> <!-- moving the UL to the next line will cause an IE7 problem -->
                                                        <li>@Html.ActionLink("Danh mục học kỳ", "ManageSemester", "MoodleCategory")</li>
                                                        <li>@Html.ActionLink("Dịch vụ web", "Manage", "MoodleWebService")</li>
                                                        <li>@Html.ActionLink("Quyền hạn", "Manage", "Capability")</li>
                                                        <li>@Html.ActionLink("Phân quyền", "Manage", "MoodleCapability")</li>  
                                                    </ul>
                                                </li>
                                            }
                                        
                                            @if(userData.MoodleService != "user")
                                            {
                                                <li>
                                                    Quản trị người dùng
                                                    <ul> <!-- moving the UL to the next line will cause an IE7 problem -->
                                                            <li>@Html.ActionLink("Sinh viên", "ManageStudent", "MoodleUser")</li>
                                                            <li>@Html.ActionLink("Giáo viên", "ManageTeacher", "MoodleUser")</li>
                                                            <li>@Html.ActionLink("Quản trị viên", "ManageAdminUser", "MoodleUser")</li>
                                                    </ul>
                                                </li>

                                                <li>
                                                    Quản trị khóa học
                                                    <ul> <!-- moving the UL to the next line will cause an IE7 problem -->
                                                            <li>@Html.ActionLink("Lớp học phần", "Manage", "MoodleCourse")</li>
                                                            <li>@Html.ActionLink("Ghi danh sinh viên", "EnrolStudent", "MoodleEnrol")</li>
                                                            <li>@Html.ActionLink("Ghi danh giáo viên", "EnrolTeacher", "MoodleEnrol")</li>
                                                        <li>@Html.ActionLink("Ghi danh quản trị viên", "EnrolAdminUser", "MoodleEnrol")</li>
                                                            <li>@Html.ActionLink("Nhóm học viên", "StudentGroup", "MoodleGroup")</li>
                                                    </ul>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                }
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - VIMARU</p>
                </div>
                <div class="float-right" style="padding-top:12px; padding-left:10px;">
                 @(Html.Kendo().DropDownList()
                        .Name("switchcontrol")
                        .OptionLabel("Chọn giao diện")
                        .DataTextField("Text")
                        .DataValueField("Value")
                        .Events(e => e.Select("SelectSkin"))
                        .BindTo(new List<SelectListItem>() {
                            new SelectListItem() {
                                Text = "Default",
                                Value = "default"
                            },
                            new SelectListItem() {
                                Text = "Black",
                                Value = "black"
                            },
                            new SelectListItem() {
                                Text = "BlueOpal",
                                Value = "blueopal"
                            },
                            new SelectListItem() {
                                Text = "Bootstrap",
                                Value = "bootstrap"
                            },
                            new SelectListItem() {
                                Text = "HighContrast",
                                Value = "highcontrast"
                            },
                            new SelectListItem() {
                                Text = "Metro",
                                Value = "metro"
                            },
                            new SelectListItem() {
                                Text = "MetroBlack",
                                Value = "metroblack"
                            },
                            new SelectListItem() {
                                Text = "MoonLight",
                                Value = "moonlight"
                            },
                            new SelectListItem() {
                                Text = "Silver",
                                Value = "silver"
                            },
                            new SelectListItem() {
                                Text = "Uniform",
                                Value = "uniform"
                            }
                        })
                    )
                </div>
            </div>
        </footer>
        @RenderSection("scripts", required: false)
    </body>
</html>
