<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        <link href="@Url.Content("~/Content/jqGrid/redmond/jquery-ui-1.9.0.custom.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/jqGrid/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Content/kendo/kendo.common.min.css")" rel="stylesheet" />
        <link href="@Url.Content("~/Content/kendo/kendo.default.min.css")" rel="stylesheet" />
         <link rel="alternate stylesheet" type="text/css" media="screen" title="black" href="@Url.Content("~/Content/kendo/kendo.black.min.css")" />
        <link rel="alternate stylesheet" type="text/css" media="screen" title="blueopal" href="@Url.Content("~/Content/kendo/kendo.blueopal.min.css")" />
        <link rel="alternate stylesheet" type="text/css" media="screen" title="metro" href="@Url.Content("~/Content/kendo/kendo.metro.min.css")" />
         <link rel="alternate stylesheet" type="text/css" media="screen" title="silver" href="@Url.Content("~/Content/kendo/kendo.silver.min.css")" />
        @Scripts.Render("~/bundles/jquery")
        <script src="@Url.Content("~/Scripts/jqGrid/jquery-1.7.2.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jqGrid/i18n/grid.locale-en.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jqGrid/jquery.jqGrid.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/jquery.blockUI.js")"></script>
        <script src="@Url.Content("~/Scripts/kendo/kendo.web.min.js")"></script>
        <script src="@Url.Content("~/Scripts/kendo/kendo.aspnetmvc.min.js")"></script>
        <script src="@Url.Content("~/Scripts/styleswitch.js")"></script>
        @Scripts.Render("~/bundles/modernizr")
        <script type="text/javascript">
            function SelectSkin(e) {
                var dataItem = this.dataItem(e.item.index());
                chooseStyle(dataItem.Value, 60);
            }
        </script>
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
                   @(Html.Kendo().DropDownList()
                        .Name("switchcontrol")
                        .OptionLabel("Chọn giao diện")
                        .HtmlAttributes(new { style = "width:125px" })
                        .DataTextField("Text")
                        .DataValueField("Value")
                        .Events(e => e.Select("SelectSkin"))
                        .BindTo(new List<SelectListItem>() {
                            new SelectListItem() {
                                Text = "Default",
                                Value = "default"
                            },
                            new SelectListItem() {
                                Text = "Black",
                                Value = "black"
                            },
                            new SelectListItem() {
                                Text = "BlueOpal",
                                Value = "blueopal"
                            },
                            new SelectListItem() {
                                Text = "Metro",
                                Value = "metro"
                            },
                            new SelectListItem() {
                                Text = "Silver",
                                Value = "silver"
                            }
                        })
                    )
                   @* <select class="k-dropdown" name="switchcontrol" size="1" onChange="chooseStyle(this.options[this.selectedIndex].value, 60)">
                      <option value="black">Black</option>
                      <option value="blueopal">BlueOpal</option>
                      <option value="default">Defaul</option>
                      <option value="metro" selected="selected">Metro</option>
                      <option value="silver">Silver</option>
                    </select>*@
</div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Học kỳ", "HocKy", "MoodleCategory")</li>
                            <li>@Html.ActionLink("Sinh viên", "SinhVien", "MoodleUser")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>

        
        @RenderSection("scripts", required: false)
    </body>
</html>
