@using CongThongTinSV.Models;
@using CongThongTinSV.App_Lib;

@if (Request.IsAuthenticated) {
    UserData userData = GlobalLib.GetCurrentUserData();

    if (userData.PortalUserID != 0){
        if(userData.PortalUserGroup == 3){
            <text>
            Chào bạn, @Html.ActionLink(userData.PortalFullName, "ThongTinCaNhan", "SinhVien", routeValues: null, htmlAttributes: new { @class = "username", title = "Thông tin sinh viên" })!
            </text>
        }
        else if(userData.PortalUserGroup == 2){
             <text>
            Chào bạn, @Html.ActionLink(userData.PortalFullName, "ThongTinCaNhan", "GiangVien", routeValues: null, htmlAttributes: new { @class = "username", title = "Thông tin giảng viên" })!
            </text>
        }
    }
    
    if(userData.MoodleToken != "exception"){
        <text>
        (@Html.ActionLink(userData.MoodleFullName, "MyProfile", "MoodleUser", routeValues: new {userid = userData.MoodleUserID }, htmlAttributes: new { @class = "username", title = "Thông tin tài khoản moodle Elearning" }))
        </text>
    }
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })){
        @Html.AntiForgeryToken()
        <button class="k-button" type="submit">Log off</button>
    }
}
else {
    string action = HttpContext.Current.Request.Url.AbsolutePath.Substring(1);
    int len = action.Length - 1;
    if (len < 0) { len = 3; action = "Home"; }
    if (action[len] == '/') { action = action.Substring(0, len); }
    if (!(action.Contains("Account/Login") || action.Contains("Home") || !action.Contains("/") || action.Contains("Home/Index")))
    {
        Response.Redirect(Url.Action("Login", "Account", new { returnUrl = HttpContext.Current.Request.Url.AbsolutePath }));
    }
    <ul>
@*        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class="k-button" })</li>*@
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class="k-button" })</li>
    </ul>
}
