@using Kendo.Mvc.UI;
@using CongThongTinSV.Models;
@{
    ViewBag.Title = "Ghi danh giáo viên vào khóa học trên Moodle";
}

@(Html.Kendo().ComboBox()
    .Name("HocKy")
    .Placeholder("Chọn học kỳ...")
    .HtmlAttributes(new { style = "width:180px" })
    .DataTextField("Text")
    .DataValueField("Value")
    .DataSource(source =>
    {
        source.Read(read =>
        {
            read.Action("GetSemesterList", "MoodleCategory");
        }).ServerFiltering(true);
    })
)

@(Html.Kendo().ComboBox()
    .Name("LopHocPhan")
    .Placeholder("Chọn lớp học phần...")
    .HtmlAttributes(new { style = "width:320px" })
    .DataTextField("Text")
    .DataValueField("Value")
    .DataSource(source =>
    {
        source.Read(read =>
        {
            read.Action("GetCourseList", "MoodleCourse").Data("filterLopHocPhan");
        }).ServerFiltering(true);
    })
    .Events(e =>
    {
        e.Change("loadGrid");
    })
    .Enable(false)
    .AutoBind(false)
    .CascadeFrom("HocKy")
)

@(Html.Kendo().Grid<CongThongTinSV.Models.MoodleTeacher>()
    .Name("Grid")
    .Columns(columns => {
        columns.Bound(c => c.ID_cb)
            .ClientTemplate("<input type='checkbox' class='chkbx' value='#= ID_cb #'/>")
            .HeaderTemplate("<input type='checkbox' id='masterCheckBox'/>")
            .Width(40)
            .Title("")
            .HeaderHtmlAttributes(new { style = "text-align:center" })
            .HtmlAttributes(new { style = "text-align:center" })
            .Filterable(false).Groupable(false).Sortable(false);
        columns.Bound(c => c.Ma_cb).Width(80).HtmlAttributes(new { style = "text-align:center" });
        columns.Bound(c => c.Ho_dem).Width(145);
        columns.Bound(c => c.Ten).Width(80);
        columns.Bound(c => c.Ngay_sinh).Width(100).Format("{0:dd-MM-yyyy}");
        columns.Bound(c => c.Gioi_tinh).Width(90);
        columns.Bound(c => c.Khoa).Width(150);
        columns.Bound(c => c.Vai_tro).Width(120);
        columns.Bound(c => c.Tinh_trang);
    })
    .Pageable(pager => pager.PageSizes(new int[]{5, 10, 20, 50, 80}).Refresh(true).Input(true).Numeric(false))
    .Sortable(s => s.SortMode(GridSortMode.MultipleColumn))
    .Filterable()
    .Scrollable()
    .Groupable()
    .Resizable(r => r.Columns(true))
    .Reorderable(ro => ro.Columns(true))
    .Navigatable()
    //.ColumnMenu(menu => menu.Enabled(true).Sortable(false))
    .Selectable(s => s.Mode(GridSelectionMode.Single))
    .Events(e => {
                e.DataBound("onDataBound");
            })
    .DataSource(
        dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("GetEnrolTeachers", "MoodleEnrol").Data("filterGrid"))
            .PageSize(50)
    )
)
<div style="margin-top:5px">
    @(Html.Kendo().DropDownList()
        .Name("VaiTro")
        .OptionLabel("Chọn vai trò")
        .HtmlAttributes(new {style="width:150x"})
        .DataTextField("Text")
        .DataValueField("Value")
        .DataSource(source =>
        {
            source.Read(read =>
            {
                read.Action("GetCourseRoles", "MoodleRole");
            }).ServerFiltering(true);
        })
    )
    <button id="createEnrol" class="k-button">Ghi danh và kích hoạt</button>
    <button id="suspendEnrol" class="k-button">Ghi danh không kích hoạt</button>
    <button id="unassignRole" class="k-button">Hủy vai trò đã chọn</button>
    <button id="unassignAllRole" class="k-button">Hủy tất cả vai trò</button>
</div>
<script type="text/javascript">
    var selectedVals = [];

    function filterGrid() {
        return {
            id_lop_tc: $("#LopHocPhan").val()
        }
    }

    function filterLopHocPhan() {
        return {
            id_hocky: $("#HocKy").val()
        }
    }

    function loadGrid() {
        selectedVals.splice(0, selectedVals.length);
        gridRefresh();
    }

    function onDataBound(e) {
        checkCells(selectedVals, '#masterCheckBox', '#Grid :checkbox');
    }

    $(function () {
        $('#Grid').on('click', '.chkbx', function () {
            var state = $(this).is(':checked');
            var grid = $('#Grid').data().kendoGrid;
            var dataItem = grid.dataItem($(this).closest('tr'));

            checkVal(dataItem.ID_cb, state, selectedVals);
            $('#masterCheckBox').attr('checked', isCheckedAll('#Grid :checkbox'));
        })
    })

    $('#masterCheckBox').click(function () { checkAll(this, '#Grid :checkbox'); })

    function gridRefresh() {
        $("#Grid").data("kendoGrid").dataSource.read();
    }

    $("#createEnrol").click(function () {
        if (selectedVals.length == 0) {
            alert('Vui lòng chọn một giáo viên!');
            return;
        }

        if (jQuery("#VaiTro").val() == "") {
            alert('Vui lòng chọn một vai trò!');
            return;
        }
        var action = '@Url.Action("ManualEnrolTeachers", "MoodleEnrol")' + '/?suspended=0&id_lop_tc=' + jQuery("#LopHocPhan").val() + '&selectedVals=' + selectedVals + "&id_vai_tro=" + jQuery("#VaiTro").val();
        processing(action, "Đang ghi danh và kích hoạt cho các giáo viên đã chọn trong lớp học phần...", gridRefresh);
    })

    $("#suspendEnrol").click(function () {
        if (selectedVals.length == 0) {
            alert('Vui lòng chọn một giáo viên!');
            return;
        }

        if (jQuery("#VaiTro").val() == "") {
            alert('Vui lòng chọn một vai trò!');
            return;
        }
        var action = '@Url.Action("ManualEnrolTeachers", "MoodleEnrol")' + '/?suspended=1&id_lop_tc=' + jQuery("#LopHocPhan").val() + '&selectedVals=' + selectedVals + "&id_vai_tro=" + jQuery("#VaiTro").val();
        processing(action, "Đang ghi danh nhưng chưa kích hoạt cho các giáo viên đã chọn trong lớp học phần...", gridRefresh);
    })

    $("#unassignRole").click(function () {
        if (selectedVals.length == 0) {
            alert('Vui lòng chọn một giáo viên!');
            return;
        }

        if (jQuery("#VaiTro").val() == "") {
            alert('Vui lòng chọn một vai trò!');
            return;
        }

        if (confirm('Bạn muốn hủy vai trò ' + jQuery("#VaiTro").data("kendoDropDownList").text() +
            ' của các giáo viên đã chọn trong lớp học phần?')) {
            var action = '@Url.Action("UnassignTeachersRole", "MoodleEnrol")' + '/?id_lop_tc=' + jQuery("#LopHocPhan").val() + '&selectedVals=' + selectedVals + "&id_vai_tro=" + jQuery("#VaiTro").val();
            processing(action, "Đang hủy vai trò " + jQuery("#VaiTro").data("kendoDropDownList").text() + " của các giáo viên đã chọn trong lớp học phần...", gridRefresh);
        }
    })

    $("#unassignAllRole").click(function () {
        if (selectedVals.length == 0) {
            alert('Vui lòng chọn một giáo viên!');
            return;
        }

        if (confirm('Bạn muốn hủy tất cả vai trò của các giáo viên đã chọn trong lớp học phần?')) {
            var action = '@Url.Action("UnassignTeachersAllRoles", "MoodleEnrol")' + '/?id_lop_tc=' + jQuery("#LopHocPhan").val() + '&selectedVals=' + selectedVals;
            processing(action, "Đang hủy tất cả vai trò của các giáo viên đã chọn trong lớp học phần...", gridRefresh);
        }
    })
</script>
