@using Kendo.Mvc.UI;
@using CongThongTinSV.Models;
@{
    ViewBag.Title = "Ghi danh sinh viên vào khóa học trên Moodle";
}

@(Html.Kendo().ComboBox()
    .Name("HocKy")
    .Placeholder("Chọn học kỳ...")
    //.OptionLabel("Chọn học kỳ")
    .HtmlAttributes(new { style = "width:180px" })
    .DataTextField("Text")
    .DataValueField("Value")
    .DataSource(source =>
    {
        source.Read(read =>
        {
            read.Action("GetMoodleHocKy", "MoodleCategory");
        }).ServerFiltering(true);
    })
    //.Events(e =>
    //{
    //    e.Change("selectLopHocPhan");
    //})
)

@(Html.Kendo().ComboBox()
    .Name("LopHocPhan")
    .Placeholder("Chọn lớp học phần...")
    //.OptionLabel("Chọn lớp học phần")
    .HtmlAttributes(new { style = "width:320px" })
    .DataTextField("Text")
    .DataValueField("Value")
    .DataSource(source =>
    {
        source.Read(read =>
        {
            read.Action("GetMoodleLopHocPhan", "MoodleCourse").Data("filterLopHocPhan");
        }).ServerFiltering(true);
    })
    .Events(e =>
    {
        e.Change("loadGrid");
    })
    .Enable(false)
    .AutoBind(false)
    .CascadeFrom("HocKy")
)

@(Html.Kendo().Grid<CongThongTinSV.Models.MoodleSinhVien>()
    .Name("Grid")
    .Columns(columns =>
    {
        columns.Bound(c => c.ID)
            .ClientTemplate("<input type='checkbox' class='chkbx' value='#= ID #'/>")
            .HeaderTemplate("<input type='checkbox' id='masterCheckBox'/>")
            .Width(40)
            .Title("")
            .IncludeInMenu(false)
            .HeaderHtmlAttributes(new { style = "text-align:center" })
            .HtmlAttributes(new { style = "text-align:center" })
            .Filterable(false).Groupable(false).Sortable(false);
        columns.Bound(c => c.Ma_sv).Width(80);
        columns.Bound(c => c.Ho_dem).Width(145);
        columns.Bound(c => c.Ten).Width(80);
        columns.Bound(c => c.Ngay_sinh).Width(100).Format("{0:dd-MM-yyyy}");
        columns.Bound(c => c.Gioi_tinh).Width(90);
        columns.Bound(c => c.Lop).Width(90);
        columns.Bound(c => c.DiemX).Width(85);
        columns.Bound(c => c.Tinh_trang).Width(130);
        columns.Bound(c => c.Ten_nhom);
    })
    .Pageable(pager => pager.PageSizes(new int[] { 5, 10, 20, 50, 80 }).Refresh(true).Input(true).Numeric(false))
    .Sortable(s => s.SortMode(GridSortMode.SingleColumn))
    .Filterable()
    .Scrollable()
    .Groupable()
    .Resizable(r => r.Columns(true))
    .Reorderable(ro => ro.Columns(true))
    .Navigatable()
        //.ColumnMenu(menu => menu.Enabled(true).Sortable(false))
    .Selectable(s => s.Mode(GridSelectionMode.Single))
        //.HtmlAttributes(new {style = "height:400px"})
    .Events(e =>
    {
        e.DataBound("onDataBound");
    })
    .DataSource(
        dataSource => dataSource
            .Ajax()
            .Read(read => read.Action("GetHocVien", "MoodleEnrol").Data("filterGrid"))
            .PageSize(50)
    )
)
<div style="margin-top:5px">
    <button id="createEnrol" class="k-button">Ghi danh</button>
    <button id="deleteEnrol" class="k-button">Đình chỉ ghi danh</button>
</div>
<div>
     @(Html.Kendo().ComboBox()
        .Name("Nhom")
        .Placeholder("Chọn nhóm...")
        .HtmlAttributes(new { style = "width:150px" })
        .DataTextField("Text")
        .DataValueField("Value")
        .DataSource(source =>
        {
            source.Read(read =>
            {
                read.Action("GetMoodleNhom", "MoodleGroup").Data("filterGrid");
            }).ServerFiltering(true);
        })
        .Enable(false)
        .AutoBind(false)
        .CascadeFrom("LopHocPhan")
    )
    @Html.TextBox("TenNhom", "", new { placeholder = "Nhập tên nhóm", style = "width:120px", @class = "k-textbox" })
    @Html.TextBox("MoTa", "", new { placeholder = "Mô tả nhóm", style = "width:200px", @class = "k-textbox"})
    <button id="createGroup" class="k-button">Tạo nhóm</button>
    <button id="deleteGroup" class="k-button">Xóa nhóm</button>
    <button id="addMember" class="k-button">Thêm thành viên</button>
    <button id="deleteMember" class="k-button">Bớt thành viên</button>

</div>
<script type="text/javascript">
    var selectedVals = [];

    function filterGrid() {
        return {
            id_lop_tc: $("#LopHocPhan").val()
        }
    }

    function filterLopHocPhan() {
        return {
            id_hocky: $("#HocKy").val()
        }
    }

    function loadGrid() {
        selectedVals.splice(0, selectedVals.length);
        gridRefresh();
    }
    // on data bound, check checkboxes
    function onDataBound(e) {
        checkCells(selectedVals, '#masterCheckBox', '#Grid :checkbox');
    }
    // on click checkbox cell in a row
    $(function () {
        $('#Grid').on('click', '.chkbx', function () {
            var state = $(this).is(':checked');
            var grid = $('#Grid').data().kendoGrid;
            var dataItem = grid.dataItem($(this).closest('tr'));

            checkVal(dataItem.ID, state, selectedVals);
            //var s = "";
            //for (var i = 0; i < selectedVals.length; i++)
            //    s += selectedVals[i] + ", ";
            //alert(s);
            $('#masterCheckBox').attr('checked', isCheckedAll('#Grid :checkbox'));
        })
    })

    $('#masterCheckBox').click(function () { checkAll(this, '#Grid :checkbox'); })

    function gridRefresh() {
        $("#Grid").data("kendoGrid").dataSource.read();
    }

    function gridgroupRefresh() {
        gridRefresh();
        groupRefresh();
    }

    function groupRefresh() {
        $("#Nhom").data("kendoDropDownList").dataSource.read();
        $("#Nhom").data("kendoDropDownList").select(0);
    }

    $("#createEnrol").click(function () {
        if (selectedVals.length == 0) {
            alert('Vui lòng chọn một sinh viên!');
            return;
        }

        processing('/MoodleEnrol/CreateGhiDanhSinhVien/?id_lop_tc=' + jQuery("#LopHocPhan").val() + '&selectedVals=' + selectedVals, "Đang ghi danh cho các sinh viên...", gridRefresh);
    })

    $("#deleteEnrol").click(function () {
        if (selectedVals.length == 0) {
            alert('Vui lòng chọn một sinh viên!');
            return;
        }

        if (confirm('Bạn muốn hủy ghi danh của các sinh viên đã chọn?')) {
            processing('/MoodleEnrol/DeleteGhiDanhSinhVien/?id_lop_tc=' + jQuery("#LopHocPhan").val() + '&selectedVals=' + selectedVals, "Đang hủy ghi danh của các sinh viên...", gridRefresh);
        }
    })

    $("#createGroup").click(function () {
        if (jQuery("#TenNhom").val() == "") {
            alert('Tên nhóm không được để trống!');
            return;
        }

        processing('/MoodleGroup/CreateNhom/?id_lop_tc=' + jQuery("#LopHocPhan").val() + '&ten_nhom=' + jQuery("#TenNhom").val() + '&mo_ta=' + jQuery("#MoTa").val(), "Đang tạo nhóm học viên trong lớp học phần...", groupRefresh);
    })

    $("#deleteGroup").click(function () {
        if ($('#Nhom').val() == '') {
            alert('Vui lòng chọn 1 nhóm');
            return;
        }

        if (confirm('Bạn muốn xóa nhóm học viên ' + $("#Nhom").data("kendoDropDownList").text() + '?')) {
            processing('/MoodleGroup/DeleteNhom/?selectedVals=' + jQuery("#Nhom").val(), "Đang xóa nhóm học viên " + $("#Nhom").data("kendoDropDownList").text() + "...", gridgroupRefresh);
        }
    })

    $("#addMember").click(function () {
        if (selectedVals.length == 0) {
            alert('Vui lòng chọn một sinh viên!');
            return;
        }

        if ($('#Nhom').val() == '') {
            alert('Vui lòng chọn 1 nhóm');
            return;
        }

        processing('/MoodleEnrol/AddThanhVien/?id_lop_tc=' + jQuery("#LopHocPhan").val() + '&selectedVals=' + selectedVals + '&id_nhom=' + jQuery("#Nhom").val(), "Đang thêm các học viên vào nhóm " + $("#Nhom").data("kendoDropDownList").text() + "...", gridRefresh);
    })

    $("#deleteMember").click(function () {
        if (selectedVals.length == 0) {
            alert('Vui lòng chọn một sinh viên!');
            return;
        }

        if ($('#Nhom').val() == '') {
            alert('Vui lòng chọn 1 nhóm');
            return;
        }
        if (confirm('Bạn muốn xóa các học viên đã chọn khỏi nhóm ' + $("#Nhom").data("kendoDropDownList").text() + '?')) {
            processing('/MoodleEnrol/DeleteThanhVien/?id_lop_tc=' + jQuery("#LopHocPhan").val() + '&selectedVals=' + selectedVals + '&id_nhom=' + jQuery("#Nhom").val(), "Đang xóa các học viên khỏi nhóm " + $("#Nhom").data("kendoDropDownList").text() + "...", gridRefresh);
        }
    })
</script>
