@using CongThongTinSV.Models
@using CongThongTinSV.App_Lib
@{
    MoodleUserResponse userProfile = ViewBag.UserProfile;
    ViewBag.Title = userProfile.fullname + ": Tài khoản moodle Elearning";
}

<h2 style="text-align:center">@userProfile.fullname</h2>
<table style="color:black" summary="">
    <tr>
        <td rowspan="8" style="vertical-align: top;">
                <a href="UserProfile?userid=@userProfile.id">
                <img src="@userProfile.profileimageurl" alt="Picture of @userProfile.fullname" title="Picture of  @userProfile.fullname" class="userpicture defaultuserpic" width="100" height="100" />
                </a>
        </td>
    </tr>
    <tr>
        <td class="nowrap">Quốc gia:</td>
        <td>@userProfile.country</td>
    </tr>
    <tr>
        <td class="nowrap">Tỉnh/thành:</td>
        <td>@userProfile.city</td>
    </tr>
    <tr>
        <td class="nowrap">Thư điện tử:</td>
        <td>
            <a href="mailto:@userProfile.email"  title="">@userProfile.email</a>
        </td>
    </tr>
    @{
        int n = userProfile.customfields.Count;
        
        for(int i = 0; i < n; i++)
        {
            <tr>
                <td>@userProfile.customfields[i].name:</td>
                <td>
                    @{
                        if (userProfile.customfields[i].value == "0"){
                            <text>Not set</text>
                        }
                        else{
                            <text>@Utility.ConvertToDateTimeString(int.Parse(userProfile.customfields[i].value),"dd-MM-yyyy")</text>
                        }
                    }
                </td>
            </tr>
        }
    }
    <tr>
        <td class="nowrap">Các khóa học:</td>
        <td>
            @{
                int len = userProfile.enrolledcourses.Count;
                for(int i = 0; i < len; i++)
                {
                    if(i > 0)
                    {
                        <text>,&nbsp</text>
                    }
                    <text>
                    @Html.ActionLink(userProfile.enrolledcourses[i].fullname, "MyCourseProfile", "MoodleUser", routeValues: new { courseid = userProfile.enrolledcourses[i].id }, htmlAttributes: new { title = "Xem hồ sơ khóa học" })
                    </text>
                }
            }</td>
    </tr>
    <tr>
        <td class="nowrap">Lần truy cập đầu tiên:</td>
        <td>@Utility.ConvertToDetailDateTimeString(userProfile.firstaccess)</td></tr>
    <tr>
        <td class="nowrap">Lần truy cập gần nhất:</td>
        <td>@Utility.ConvertToDetailDateTimeString(userProfile.lastaccess)</td>
    </tr>
</table>