@using Kendo.Mvc.UI
@model CongThongTinSV.Models.LoginModel

@{
    ViewBag.Title = "Đăng nhập";
}
<script type="text/javascript">
    $(document).ready(function () {

    })
</script>
<h1>@ViewBag.Title</h1>
<hr />
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Nhập thông tin đăng nhập</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName, htmlAttributes: new { @class = "k-textbox", style = "font-size:1.2em"})
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, htmlAttributes: new { @class = "k-textbox", style = "font-size:1.2em"})
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @(Html.Kendo().DropDownList()
                .Name("Service")
                .OptionLabel("Chọn dịch vụ Moodle")
                .BindTo(ViewBag.Service)
                )
            </li>
            <li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </li>
        </ol>
        <button class="k-button" >Đăng nhập</button>
    </fieldset>
    @*<p>
        @Html.ActionLink("Register", "Register") if you don't have an account.
    </p>*@
}
@*</section>*@
@*<section class="social" id="socialLoginForm">
    <h2>Use another service to log in.</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

