@if (Request.IsAuthenticated) {
    string[] userData = CongThongTinSV.Controllers.AccountController.GetCurrentUserData();

    if (userData[2] != ""){
        if(userData[0] == "3"){
            <text>
            Chào bạn, @Html.ActionLink(userData[2], "ThongTinCaNhan", "SinhVien", routeValues: null, htmlAttributes: new { @class = "username", title = "Thông tin sinh viên" })!
            </text>
        }
        else if(userData[0] == "2"){
             <text>
            Chào bạn, @Html.ActionLink(userData[2], "ThongTinCaNhan", "GiangVien", routeValues: null, htmlAttributes: new { @class = "username", title = "Thông tin giảng viên" })!
            </text>
        }
    }
    
    if(userData[3] != "exception"){
        <text>
        (@Html.ActionLink(userData[6], "UserProfile", "MoodleUser", routeValues: new {userid = userData[5] }, htmlAttributes: new { @class = "username", title = "Thông tin tài khoản moodle Elearning" }))
        </text>
    }
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })){
        @Html.AntiForgeryToken()
        <button class="k-button" type="submit">Log off</button>
    }
}
else {
    if (HttpContext.Current.Request.Url.AbsolutePath != "/Account/Login" && HttpContext.Current.Request.Url.AbsolutePath != "/Home" && HttpContext.Current.Request.Url.AbsolutePath != "/" &&
HttpContext.Current.Request.Url.AbsolutePath != "/Home/Index")
    {
        Response.Redirect(Url.Action("Login", "Account"));
    }
    <ul>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class="k-button" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class="k-button" })</li>
    </ul>
}
